In [2]:
import pandas as pd

In [4]:
df = pd.read_csv(fr"survey_lung_cancerdata.csv")
display(df[['SMOKING','LUNG_CANCER']])
df[[]]

     SMOKING LUNG_CANCER
0          1         YES
1          2         YES
2          1          NO
3          2          NO
4          1          NO
..       ...         ...
304        1         YES
305        2         YES
306        2         YES
307        2         YES
308        1         YES

[309 rows x 2 columns]